.status {
    border-radius: 50%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.reg {
    background-color: $green;
}

.nreg {
    background-color: $red;
}

.pen {
    background-color: $yellow;
}

