/* Coolors Exported Palette - coolors.co/071c23-f9f7f3-4bb3fd-1b3b6f-efaac4 */

/* HSL */
$color1: hsla(195%, 67%, 8%, 1);
$color2: hsla(40%, 33%, 96%, 1);
$color3: hsla(205%, 98%, 64%, 1);
$color4: hsla(217%, 61%, 27%, 1);
$color5: hsla(337%, 68%, 80%, 1);

/* RGB */
$color1: rgba(7, 28, 35, 1);
$color2: rgba(249, 247, 243, 1);
$color3: rgba(75, 179, 253, 1);
$color4: rgba(27, 59, 111, 1);
$color5: rgba(239, 170, 196, 1);